@media only screen and (max-width:500px) {
	form {
		padding: 50px 25px;
		margin: auto;
		background-color: black;
		width: 80%;
		height: 250px;
		border-radius: 5px;
		box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.3);
		text-align: center;
	}

	form label {
		font-size: 15px;
		color: white;
		float: left;
		margin-bottom: 5px;
		font-weight: lighter;
	}

	form input {
		padding-left: 15px;
		margin: auto;
		width: 94%;
		color: black;
		height: 40px;
		border-radius: 5px;
		border-width: 0px;
		background-color: rgba(255, 255, 255, 1);
		border-color: rgba(255, 255, 255, 0.5);
		outline: none;
		font-size: 16px;
	}

	.container h2{
		font-size: 16px;
	}
}